{% extends "estructura.twig" %}

{% set seccion = "index" %}
{% set info = datos.portada %}

{% block css %}
	<link rel="stylesheet" href="css/{{ seccion }}.css" media="screen" title="estilo">
	
{% endblock %}

{% block cuerpo %}
	<div class="contenedor">
		<div class="titulo-h">
			<h2 id="letra1">PACK 6 RUEDAS</h2>

			<h3 id="letra2">Asegura tu moto y tu auto y llévate...</h3>
		</div>
		<div class="beneficio">
			<h4 id="letra3">Beneficios:</h4>
			<ul>
				<li id="letra4" class="ic1"><span  class="resalt">30% de descuento</span> en el seguro de la moto</li>
				<li id="letra5" class="ic2"><span  class="resalt">SOAT Moto a  S/. 315</span> <span class="precio">Antes: <span class="antes">S/.550</span></span></li>
				<li id="letra6" class="ic3"><span class="resalt">SOAT Auto a  S/. 89</span> <span  class="precio">Antes: <span class="antes">S/.110</span></span></li>
			</ul>
		</div>
		<h3 class="title-resp"><a href="#form">SOLICITAR AHORA</a></h3>
		<div id="form" class="formulario">

			<div class="head-f">
				<h3>¡Solicita una cotización!</h3>
				<p>Completa el formulario y nos pondremos en contacto contigo:</p>
			</div>
			
			<form class="form ">
				<p>Datos del auto/camioneta:</p>
				<select class="camp camp1">
					<option value="Ferrari">Ferrari</option>
					<option value="Hunday">Hunday</option>
					<option value="Audi">Audi</option>
				</select>
				<div class="two">
					<select class="camp">
						<option value="F12 Berlinetta">F12 Berlinetta</option>
						<option value="F12 Berlinetta">F12 Berlinetta</option>
						<option value="F12 Berlinetta">F12 Berlinetta</option>
					</select>

					<select class="camp numb">
						<option value="1980">1980</option>
						<option value="1990">1990</option>
						<option value="2005">2005</option>
					</select>

				</div>


				<p>Datos de la moto:</p>
				<select class="camp camp1">
					<option value="Yamaha">Yamaha</option>
					<option value="Yamaha">Yamaha</option>
					<option value="Yamaha">Yamaha</option>
				</select>
				<div class="two">
					<select class="camp">
						<option value="F12 Berlinetta">F12 Berlinetta</option>
						<option value="F12 Berlinetta">F12 Berlinetta</option>
						<option value="F12 Berlinetta">F12 Berlinetta</option>
					</select>

					<select class="camp numb">
						<option value="2007">2007</option>
						<option value="2007">2007</option>
						<option value="2007">2007</option>
					</select>
				</div>
				<div align="center" class="continu">
						<input type="submit" class="enviar" value="CONTINUAR" name="">
				</div>
			</form>

			<form class="form ocult">
				<p>Datos personales:</p>
				<div class="two">
					<select class="camp numb">
						<option value="DNI">DNI</option>
						<option value="RUC">RUC</option>
						<option value="CE">CE</option>
					</select>
					<input type="text" class="camp" placeholder="Nro. de documento" />
				</div>
				<input type="text" class="camp camp1" placeholder="Teléfono" />
				<input type="text" class="camp camp1" placeholder="E-mail" />
				 
				
				<p class="acepto">
					 <input type="checkbox" name="acepto" id="acepto" required="">  
					 
				Acepto la <span>cláusula de protección de datos.</span></p>

				 
				<div align="center">
						<input type="submit" class="enviar" value="SOLICITAR AHORA" name="">
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="js/{{ seccion }}.js"></script>

{% endblock %}